h1 {
  color: #1976d2;
  font-family: Arial, sans-serif;
}

p {
  font-size: 16px;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}