h1 {
  color: #1976d2;
  font-family: Arial, sans-serif;
}

p {
  font-size: 16px;
}


.buttonsContainer {
  margin-top: 20px;

  button {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
}